<div class="form-content">

  <section class="new-error-handler">
    <div>
      <h3 class="errorTitle">{{errorTitle}}</h3>
      <p class="errorBody">{{errorBody}}</p>
    </div>
  </section>

  <section class="input-form">

    <form action="/gallery/{{id}}?_method=PUT" method="post" role="form" enctype="application/x-www-form-urlencoded">
      <h2>Edit Gallery Photo</h2>

      <div class="form-group edit-image-div">
        <img src="{{link}}" class="edit-current-image" alt="succulent">
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" value="{{title}}">
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" name="author" value="{{author}}">
      </div>


      <div class="form-group">
        <label for="link">Photo URL Link</label>
        <input type="text" class="form-control" name="link" value="{{link}}">
      </div>

      <div class="form-group">
        <label for="description">Photo Description</label>
        <textarea type="text" class="form-control" id="body-input" name="description" value="{{description}}">{{description}}</textarea>
      </div>

      <div class="buttonDiv">
        <button type="submit" class="btn-submit" value="OK">Submit</button>
      </div>

    </form>

  </section>

</div>