 {{> nav}}
 
<main class="gallery-main">

  <section class="gallery-head">
    <div class="gallery-head-div">
      <a href='/gallery/{{id}}'>
        <img src="{{url}}" class="gallery-head-img" alt="succulent">
      </a>
    </div>
  </section>

  <section class="gallery-minis">

    {{#each photo}}
    <div class="photo-div">
      <div class="photo-link">
        <a href='/gallery/{{id}}'>
          <img src="{{url}}" class="gallery-mini-img" alt="succulent">
        </a>
      </div>

      <div class="photo-text">
        {{title}}
      </div>
    </div>
    {{/each}}

  </section>

  <section class="gallery-minis2">

    {{#each otherPhoto}}
    <div class="photo-div">
      <div class="photo-link">
        <a href='/gallery/{{id}}'>
          <img src="{{url}}" class="gallery-mini-img" alt="succulent">
        </a>
      </div>

      <div class="photo-text">
        {{title}}
      </div>
    </div>
    {{/each}}

  </section>

</main>